@import "tailwindcss";
@import "@/tokens/tokens.css";
@import "./theme.css";

@plugin "tailwindcss-animate";
@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant label (& [data-label]);
@custom-variant focus-input-within (&:has(input:focus));

@layer base {
  *,
  *::before,
  *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input,
  textarea,
  select {
    outline: none;
  }
}
